.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    /* border-radius: .3rem; */
}

.bg-semidark {
    background-color: #1e1e1e!important;
}

.color-light {
    color: white;
}